{% extends 'base.html' %}
{% block content %}

<div style="display: flex; align-items: center; justify-content: center; flex-direction: column;" class="login-box auth0-box before">
    
    <h1>Retomar Proceso</h1>
    <h3>Por favor ingrese su cédula para verificar su identidad</h3>
    <h5>{{info}}</h5>
    <form action="{% url 'validarOTP' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="cedula" value="{{ cedula }}">
        <label for="otp">OTP generado:</label>
        <input type="text" id="otp" name="otp">
        <input type="submit" value="Enviar">
    </form>
</div>

{% endblock %}