{% extends 'base.html' %}
{% block content %}

<div class="content">
    <div class="">
        <div class="page-header-title">
            <h4 class="page-title">Ultimas 10 informaciones de cliente creadas</h4>
            <!---
            <div style="text-align:right;">
                <button type="button" class="btn btn-success waves-effect waves-light"
                        onClick=" window.location.href='/measurementcreate' " style="text-align:center;">+
                </button>
            </div>
            --->
        </div>
    </div>

    <br>

    <div class="page-content-wrapper">
        <div class="container">
            <!-- Content page -->

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                        <tr style="color:#0E2EB0">
                            <th font color="red">Id</th>
                            <th>Profesion</th>
                            <th>Actividad Economica</th>
                            <th>Empresa</th>
                            <th>Ingresos</th>
                            <th>Egresos</th>
                            <th>Deudas</th>
                            <th>Patrimonio</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for info in informacionEconomica_list %}
                        <tr>
                            <td>{{ info.idNumerico }}</td>
                            <td>{{ info.profesion_decrypted }}</td>
                            <td>{{ info.actividadEconomica_decrypted }}</td>
                            <td>{{ info.empresa_decrypted }}</td>
                            <td>{{ info.ingresos }}</td>
                            <td>{{ info.egresos }}</td>
                            <td>{{ info.deudas }}</td>
                            <td>{{ info.patrimonio }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div style="text-align:center;">
                        <button type="button" class="btn btn-success waves-effect waves-light"
                        onClick=" window.location.href='/clienteCreate' ">
                            Continue
                        </button>
                        <button type="button" class="btn btn-primary waves-effect waves-light"
                                onClick=" window.location.href='/' ">
                            Back
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}