{% extends 'base.html' %}
{% block content %}

<div class="content">
    <div class="">
        <div class="page-header-title">
            <h4 class="page-title">Ultimas 10 solicitudes</h4>
            <!---
            <div style="text-align:right;">
                <button type="button" class="btn btn-success waves-effect waves-light"
                        onClick=" window.location.href='/measurementcreate' " style="text-align:center;">+
                </button>
            </div>
            --->
        </div>
    </div>

    <br>

    <div class="page-content-wrapper">
        <div class="container">
            <!-- Content page -->

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                        <tr style="color:#0E2EB0">
                            <th font color="red">Fecha inicio</th>
                            <th>Ultima modificación</th>
                            <th>Etapa actual</th>
                            <th>lugar solicitud</th>
                            <th>Id pagare</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for solicitud in solicitud_list %}
                        <tr>
                            <td>{{ solicitud.fechaInicio }}</td>
                            <td>{{ solicitud.fechaUltimaModificacion }}</td>
                            <td>{{ solicitud.etapaActual }}</td>
                            <td>{{ solicitud.lugarSolicitud }}</td>
                            <td>{{ solicitud.pagare }}</td>

                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div style="text-align:center;">
                        <button type="button" class="btn btn-success waves-effect waves-light"
                        onClick=" window.location.href='/solicitudCreate' ">
                            Continue
                        </button>
                        <button type="button" class="btn btn-primary waves-effect waves-light"
                                onClick=" window.location.href='/' ">
                            Back
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}