{% extends 'base.html' %}
{% block content %}

<div style="display: flex; flex-direction: column; align-items: center; justify-content: center;" class="login-box auth0-box before">
    <div class="page-header-title">
        <h4 class="page-title">Tarjetas ofertadas para la solicitud</h4>
    </div>
    <div class="row">
        <form id="tarjetaForm" method="post">
            {% csrf_token %} 
            <input type="hidden" name="hmac" id="hmac">
            {% for tarjeta in tarjetas_list %}
                <div class="card" style="width:20%">
                    <img src="{{ tarjeta.tarjetaDisponible.imagen }}" alt="imagen" style="width:80%">
                    <div class="container">
                        <h4>{{ tarjeta.tarjetaDisponible.franquicia }} - {{ tarjeta.tarjetaDisponible.perfil }}</h4>
                        <p><strong>Cupo:</strong> {{ tarjeta.cupo }}</p>
                        <p><strong>Descripción:</strong> {{ tarjeta.tarjetaDisponible.descripcion }}</p>
                        <p><strong>Tiempo de vigencia (meses):</strong> {{ tarjeta.tarjetaDisponible.tiempoVigenciaMeses }}</p>
                        <input type="radio" name="tarjeta" value="{{ tarjeta.id }}">
                    </div>
                </div>
            {% endfor %}
            
            <button type="submit" class="btn btn-success waves-effect waves-light">Continue</button>
            <button type="button" class="btn btn-primary waves-effect waves-light" onClick="window.location.href='/informacionEconomicaCreate/?cedula={{cedula}}'">Back</button>
        </form>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
<script>
document.getElementById('tarjetaForm').addEventListener('submit', function(event) {

    var selectedTarjeta = document.querySelector('input[name="tarjeta"]:checked');
    if (!selectedTarjeta) {
        alert('Por favor escoja una tarjeta.');
        event.preventDefault();
        return;
    }

    const formData = new FormData(event.target);
    const data = {};
    for (const [key, value] of formData.entries()) {
        if (key !== 'csrfmiddlewaretoken' && key !== 'hmac') {
            data[key] = isNaN(value) ? value : Number(value);
        }
    }

    const message = JSON.stringify(data).replace(/:/g, ': ').replace(/,/g, ', ');
    const secretKey = 'django-insecure-%hli0)=#odc5pd_xqtyaktwh#y_&(7o$566y&b=a&vkr=oz19p';
    const hmac = CryptoJS.HmacSHA256(message, secretKey).toString(CryptoJS.enc.Hex);

    // Enviar el formulario
    document.querySelector('#hmac').value = hmac;
    event.target.submit();
});
</script>



{% endblock %}